* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  border: 2px solid black;
  /* min-height: 00px; */
}
.board {
  /* border: 2px solid red; */
  display: grid;
  flex-wrap: wrap;
  width: 300px;
  grid-template-areas: "square1 square2 square3"
  "square4 square5 square6"
  "square7 square8 square9"
  ;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 10px; 
  overflow: none;
  margin: 50px auto;
  
}

.square {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 5px;
  
  font-size: 1.5rem;
}

.btn-container {
  margin: auto;
  
  width: 100%;
}
#reset {
  width: 100px;
  height: 40px;
  display: block;
  margin: auto;
  
  
}

.info {
  text-align: center;
  margin-top: 30px;
  margin-bottom: -30px;
  font-weight: bold;

}

.heading {
  text-align: center;
  margin-top: 30px;
}


